<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>type</title>


</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<h1>Registration</h1>
<form action="register" method="post">
     {% csrf_token %}

    <input type="text" name="username" placeholder="Enter Your UserName"><br>
     <input type="text" name="firstname" placeholder="Enter Your First Name"><br>
     <input type="text" name="lastname" placeholder="Enter Your Last Name"><br>
     <input type="email" name="email" placeholder="Enter Your Email"><br>
     <input type="password" name="password" placeholder="Enter Your password"><br>
    <input type="password" name="password1" placeholder="confirm Your password"><br>
    <input type="submit">

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>